/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0 50px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

.main-container-margin{
    margin-bottom: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.margin-bot35 {
    margin-bottom: 35px;
}

/****** Header ***********/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    margin-bottom: 30px;
    margin: 0;
}

nav a {
    height: 79px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px white solid;
}

nav img {
    height: 19px;
    width: 61.09px;
}

nav ul {
    display: flex;
    justify-content: end;
    gap: 68px;
    list-style: none;
    width: 328px;
}

nav a:hover {
    box-sizing: border-box;
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 49px;
    width: 377px;
}

.search-bar > i {
    height: 49px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-shrink: 0;
}

.magnifying-glass {
    display: none;
}

input[type="search"] {
    height: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    border: 1px solid #F2F2F2;
}

button {
    height: 49px;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #0065FC;
    font-size: 18px;
    font-weight: 700;
    border: 0;
}

h1 + p {
    margin-top: 0;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.filters li {
    display: flex;
    height: 50px;
    padding-right: 19px;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
}

.filters li:hover {
    background-color: #DEEBFF;
}

.filters i {
    padding: 19px;
}

p > i {
    border :#D9D9D9 1px solid;
    border-radius: 50%;
    padding: 5px 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover; 
}

.hebergements .card-content {
    margin-left: 15px;
    margin-top: -10px;
    margin-right: 15px;
}

.hebergements > p {
    font-weight: 700;
    margin-bottom: 0;
}

.hebergements h2 {
    margin-top: 0;
}

.hotel-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.activities h2 {
display: flex;
align-items: center;
margin-top: 0;
margin-bottom: 30px;
}

.activities ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.activities li {
    border-radius: 20px;
    height: 439px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.activities figcaption {
    display: flex;
    align-self: stretch;
    font-weight: 700;
    margin: 20px;
}

/****** Footer ***********/

footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer section {
    padding: 20px;
    align-items: stretch;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .filters ul {
        padding: 0;
    }

    .filters h2 {
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activities  li{
        height: 270px;
    }

    .activities img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0;
    }

    p {
        font-size: 14px
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
        height: 115px;
        margin-bottom: 30px;
    }

    nav img {
        padding: 30px;
    }

    nav ul {
        height: 36px;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    nav li {
        width: 100%;
    }

    nav a {
        height: 36px;
        align-items: flex-start;
        justify-content: center;
        border-top: 0;
        border-bottom:  2px white solid;
        font-size: 16px;
    }

    nav a:hover {
        box-sizing: border-box;
        border-bottom: 2px #0065FC solid;
        border-top: 0;
    }

    .title-text {
        padding: 0 20px;
    }

    h1 + p {
        margin-top: 8px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 100%;
}

    input + button {
        display: none;
    }

    .magnifying-glass {
        display: inline;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    }

    .magnifying-glass i {
        color: white;
    }

    .filters ul {
        display: flex;
        flex-wrap: wrap;
    }

    .filters li {
        width: 125px;
        font-size: 14px;
    }

    .filters i {
        padding-right: 10px;
    }

/****** Hebergements And Populaires *******/
    .main-container-margin {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        border-radius: 0px;
}

    .hebergements {
        background-color: white;
}

    .hebergements .hotel-cards {
        display: flex;
        flex-direction: row;
}

    .hebergements > p {
        font-size: 18px;
    }

    .hotel-cards {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .hotel-cards a {
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires {
        margin: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

/****** Activites *******/
    .activities ul {
        display: flex;
        flex-direction: column;
    }

    .activities li {
        height: 100%;
    }

    .activities img {
        height: 141px;
    }

/****** Footer *******/
footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
}

footer section {
    padding: 0;
}

footer h3 {
    margin: 0;
}
}
